/*  
Products Style CSS for Assignment2
Author: Deborah Yuan & Evon Diep
Date: 11/16/22
Desc: This css stylesheet is used for all 3 html pages under /public. The backbone css was provided in a bootstrap template sourced from w3 schools; it is not shown here, can be found in the head of both index.html and products_display.html. This stylesheet mostly addresses small tweaks and ALL of the css for invoice.html, as that file does not use the bootstrap template.
*/

/*//////////////////*/
/* general text css */
/*//////////////////*/

.input-error {
	outline: 1px solid red;
}

h1 {
	font-family: "Source Sans Pro", sans-serif;
	font-weight: bolder;
}

h2 {
	font-family: "Source Sans Pro", sans-serif;
	font-weight: bolder;
}

.footertext {
	padding-bottom: 30px;
}
p {
	font-family: "Source Sans Pro", sans-serif;
}

/* quantity textbox adjustments */
#quantitytextbox {
	border-radius: 5px;
	width: 60px;
	height: 40px;
	position: relative;
}

/* submit buttons on products_display.html and invoice.html */
.button {
	background-color: black;
	border-color: white;
	border-width: 5px;
	color: white;
	width: 200px;
	height: 40px;
	margin: 0;
	position: relative;
	border-radius: 12px;
	padding: 2 2 2 2em;
	font-family: "Source Sans Pro", sans-serif;
	font-weight: bolder;
}

/*products_display underline effect, modified from (https://codepen.io/vlt_dev/pen/bGMYgQE)*/
h2.underlinecss {
	margin: auto;
	color: white;
	cursor: pointer;
}

h2.underlinecss:after {
	display: block;
	content: "";
	border-bottom: solid 3px black;
	padding-bottom: 1%;
	transform: scaleX(0);
	transition: transform 250ms ease-in-out;
}

h2.underlinecss:hover:after {
	transform: scaleX(0.85);
}

/*return to top button, modified from (https://dev.to/ljcdev/scroll-to-top-button-in-vanilla-js-beginners-2nc) & (https://codepen.io/rafi_kadir/pen/oNgOyZb)*/
.top-btn {
	width: 50px;
	height: 50px;
	background: black;
	color: #fff;
	text-align: center;
	border-radius: 10px;
	position: fixed;
	bottom: 10px;
	right: 30px;
	cursor: pointer;
	font-size: 18px;
	line-height: 50px;
	z-index: 999;
	transition: transform 0.5s, opacity 0.3s;
	opacity: 0;
}

.top-btn:before {
	position: absolute;
	content: "";
	width: 100%;
	height: 0;
	background: blue;
	top: 0;
	left: 0;
	bottom: 0;
	z-index: -1;
	border-radius: 10px;
	transition: 0.5s;
}

.top-btn:hover::before {
	height: 100%;
}

.showScrollBtn {
	transform: translateY(0);
	opacity: 1;
}

/*///////////////////////*/
/* invoice table styling */
/*///////////////////////*/

/* table title "Invoice" */
.invoiceheader {
	margin-left: auto;
	margin-right: auto;
}

/* table general design */
.invoice-table {
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
	font-size: 0.9 em;
	width: 850px;
	font-family: "Source Sans Pro", sans-serif;
	border-radius: 5px 5px 5px 5px;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

/* table header row*/
.invoice-table thead tr {
	background-color: black;
	color: white;
	text-align: left;
	font-weight: bold;
}

/* table header and table data cell padding */
.invoice-table th,
.invoice-table td {
	padding: 12px 25px;
}

/* table row borders */
.invoice-table tbody tr {
	border-bottom: 1px solid white;

	/* table row alternating background colors */
}
.invoice-table tbody tr:nth-of-type(even) {
	background-color: #f3f3f3;
}

/* table row bottom border line */
.invoice-table tbody tr:last-of-type,
.invoice-table tbody tr:nth-last-of-type(8) {
	border-bottom: 2px solid black;
}
/* table row bottom border line */
.invoice-table tbody tr:nth-last-of-type(3),
.invoice-table tbody tr:nth-last-of-type(2) {
	border-bottom: 4px dashed black;
}

/* table row highlight light blue when hovered */
.invoice-table tbody tr:hover {
	background-color: #e5cced;
}

/*///////*/
/* video */
/*///////*/

/* Style the video: 100% width and height to cover the entire window */
#myVideo {
	position: absolute;
	top: 50px;
	left: 0;
	right: 0;
	bottom: 0;
	max-width: 100%;
	max-height: auto;
}

/* iPhone text */
.content {
	position: fixed;
	top: 50px;
	text-align: center;
	background: rgba(0, 0, 0, 0);
	color: #f1f1f1;
	width: 100%;
	padding: 20px;
}

/* Style the button used to enter store */
#myBtn {
	background-color: black;
	border-color: black;
	border-width: 3px;
	color: white;
	width: 300px;
	height: 40px;
	margin: 0;
	position: relative;
	border-radius: 12px;
	padding: 5 5 5 5em;
	font-family: "Source Sans Pro", sans-serif;
	font-weight: bolder;
	cursor: pointer;
}

/* button hover glow */
#myBtn:hover {
	box-shadow: 0 0 15px 1px white;
}

/* star rating review css BORROWED FROM (https://bbbootstrap.com/snippets/star-rating-pure-css-19646372)*/

.rating {
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
}

.rating > input {
	display: none;
}

.rating > label {
	position: relative;
	width: 1em;
	font-size: 2em;
	color: #ffd600;
	cursor: pointer;
}
.rating > label::before {
	content: "\2605";
	position: absolute;
	opacity: 0;
}
.rating > label:hover:before,
.rating > label:hover ~ label:before {
	opacity: 1 !important;
}

.rating > input:checked ~ label:before {
	opacity: 1;
}

.rating:hover > input:checked ~ label:before {
	opacity: 0.4;
}

/* STAR PRODUCTS DISPLAY CSS */
.stars-outer {
	position: relative;
	display: inline-block;
}

.stars-inner {
	position: absolute;
	top: 0;
	left: 0;
	white-space: nowrap;
	overflow: hidden;
	width: 0;
}

.stars-outer::before {
	content: "\f005 \f005 \f005 \f005 \f005";
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	color: #ccc;
}

.stars-inner::before {
	content: "\f005 \f005 \f005 \f005 \f005";
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	color: #f8ce0b;
}
